# Web Framework & API Libraries
fastapi
uvicorn

# Security & Authentication
authlib
itsdangerous
python-jose
passlib
bcrypt==3.2.0

# Test
pytest 
pytest-asyncio 
httpx
python-dotenv


# Data Validation & Serialization
pydantic
lightgbm==4.5.0
numpy==1.26.4
opencv-python==4.10.0.84

# File Handling
python-multipart

# Background Processing & Progress Bars
tqdm

# Machine Learning
# scikit-learn==1.2.2

# Database Interaction
motor
pymongo[srv]
